version: '3.4'
services:
  proxy:
    image: nginx
    container_name: proxy
    restart: 'unless-stopped'
    volumes:
    - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    - /etc/letsencrypt/live/<your gotify domain>/fullchain.pem:/etc/ssl/nginx.crt:ro
    - /etc/letsencrypt/live/<your gotify domain>/privkey.pem:/etc/ssl/nginx.key:ro
    - /etc/letsencrypt/live/<your home-assistant domain>/fullchain.pem:/etc/ssl/nginx_hass.crt:ro
    - /etc/letsencrypt/live/<your home-assistant domain>/privkey.pem:/etc/ssl/nginx_hass.key:ro
    - ./nginx/logs:/var/log/nginx
    ports:
    - "443:443"
    networks:
    - pi

  gotify:
    image: gotify/server-arm7:2.0.22
    container_name: gotify
    restart: 'unless-stopped'
    environment:
      GOTIFY_DEFAULTUSER_PASS: "whateverpassword"
    ports:
    - 8000:80
    networks:
    - pi
    volumes:
    - "./gotify/data:/app/data"

  homeassistant:
    container_name: homeassistant
    image: homeassistant/home-assistant:stable
    logging:
      options:
        max-size: "1m"
        max-file: "10"
    volumes:
    - ./homeassistant:/config
    - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    network_mode: host

networks:
  pi:
    external: true
